
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins, serif;
}
#completo{
    max-width: 1477px;
    max-height: 2403px;
    margin: 0 auto;

}
#principal{
    max-width: 1337px;
    max-height: 3524px;
    margin: 0 auto;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 0px 120px;

}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;
}
footer{
    background-color: #285E67;
}
#first h1{
    font-size: 65.34px;
    font-weight: 600;
}
#first p{
    margin-bottom: 40px;
}
#text{
    text-align: center;
}
#imagenes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
button{
    background-color: #285E67;
    border: none;
    color: #FFFFFF;
    font-size: 21.33px;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    padding: 16px;
    gap: 16px;
    font-weight: bold;
    margin-bottom: 60px;
}
#second{
    background-color: #F4F4F4;
    border-radius: 12px;
    display: flex;
    margin-bottom: 100px;
}
#left{
    margin: 40px 100px;
}
#left h2{
    font-size: 50.52px;
    font-weight: 600;
}
#wellbeing{
    display: flex;
    gap: 60px;
}
.texto p{
    width: 260px;
    height: 110.54px;
}
#right img{
    position: absolute;
    margin: 140px 100px;
}
#third{
    display: flex;
    gap: 70px;
    margin-bottom: 60px;
}
.linea{
    display: flex;
    gap: 30px;
}
#right2 h2{
    font-size: 50.52px;
    font-weight: 600;
    margin-bottom: 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 78px 139px 78px 139px;
    max-height: 245px;
}
footer nav#redes ul {
    display: flex;
    gap: 24px;
    padding: 18px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}